@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

body {
    margin: 0;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    z-index: 3;
}

header {
    height: 18vh;
    width: 100%;
    background-color: rgb(255, 0, 0);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

#headline {
    width: 550px;
}

#navigation {
    flex-direction: column;
    position: fixed;
    top: 18vh;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    z-index: 3;
}

.inputAndBtn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    font-size: 20px;
    font-family: 'Pokemon Solid', sans-serif;
    color: rgb(255, 205, 0);
    text-align: center;
    width: 100%;
    margin-right: 17px;
}

.dNone {
    display: none !important;
}

.overlay {
    height: 82vh;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    z-index: 5;
}

.cardHeader {
    display: flex;
    justify-content: center;
    background-color: black;
    color: rgb(255, 205, 0) !important;
    width: 100%;
    height: 50px;
}

.classImage {
    width: 200px;
    height: 44px;
}
#content .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#content {
    position: relative;
    top: 25vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
    margin-bottom: 26vh;
    min-height: 68vh !important;
}

#content .card {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    flex: 1 1 250px;
    /* Flexible Breite, mindestens 200px */
    max-width: 300px;
    margin: 30px 10px;
    /* Abstand zwischen den Elementen */
    height: 500px;
    overflow: hidden;
    transition: transform 0.3s;
    font-family: 'Pokemon Solid', sans-serif;

}

#content .card figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

#content .card:hover {
    transform: scale(1.05);
    /* Karte leicht vergrößern */
    cursor: pointer;
}

#content .card figure:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

#content .card-img-top {
    width: 96%;
    height: 300px;
}

.cardImage {
    width: 100%;
    border-bottom: solid salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    width: 100%;
    height: 8vh;
    background-color: black;
    z-index: 3;
    position: relative;
}

#overlayLargeView {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlayBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Halbdurchsichtiger Hintergrund */
    z-index: 4; /* Unter der Karte */
}

.blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.disabled {
    pointer-events: none;
}

.statsBar {
    border: 2px solid;
    height: 10px;
    background-color: goldenrod;
    max-width: 300px;
}

.statsBar2 {
    border: 2px solid;
    border-color: black;
    height: 10px;
    background-color: white;
    max-width: 300px;
}

#overlayLargeView .card {
    z-index: 5;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlayLargeView .card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.disableOverflow {
    overflow-y: hidden;
}

.list-group-item {
    background-color: aliceblue;
}

#cardType {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0px 10px;
}

.card-body ul  {
    width: 100%;
    margin-bottom: 40px;
}

.card-body ul li {
    padding-bottom: 26px;
}

.card-body span {
    font-family: sans-serif;
    font-size: 18px;
    color: whitesmoke;
}

.card-body h5 {
    color: rgb(255, 205, 0) !important;
    width: 100%;
    height: 35px;
    font-family: 'Pokemon Solid', sans-serif;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    text-align: center;
    background-color: black;
}

.largeImg {
    height: 35vh;
    background-color: lightgoldenrodyellow;
}

.cardHeaderLarge {
    display: flex;
    justify-content: center;
    background-color: black;
    color: rgb(255, 205, 0) !important;
    width: 100%;
    height: 50px;
    font-family: 'Pokemon Solid', sans-serif;
    margin-bottom: 27px;
    z-index: 6;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    background-clip: border-box;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 10px 0px;
}

.card-header {
    background-color: black;
    color: rgb(255, 205, 0);
    font-family: 'Pokemon Solid', sans-serif;
    width: 100%;
    text-align: center;
}

.LargeViewBtn {
    cursor: pointer;
    width: 128px;
    height: 128px;
    filter: sepia(1);
    margin: 16px;
}

.evoImage {
    width: 128px;
    height: 128px;
    cursor: pointer;
}

.evoArrow {
    width: 40px;
    height: 40px;
}

.displayRow {
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
}

.imgAndName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noMargin {
    margin: 0 !important;
}